
<html>
<head>
<meta charset="UTF-8">
<title>Directory</title>
</head>
<body>
    
<table border="3" width="600">
    <tr>
        <td>Organization Name</td>
        <td>Category</td>
        <td>Location</td>
        <td>Description</td>
        <td>Amount Required</td>
        <td>Amount Raised</td>
    </tr>
{% for row in registration_qs %}
    {% if row.donation_required %}
        <tr style="background-color:#d3a8db">
        <td>{{ row.name }}</td>
        <td>{{ row.category }}</td>
        <td>{{ row.location }}</td>
        <td>{{ row.description }}</td>
        <td>{{ row.amt_needed }}</td>
        <td>{{ row.amt_raised }}</td>
        </tr>
    {% else %}
        <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.category }}</td>
        <td>{{ row.location }}</td>
        <td>{{ row.description }}</td>
        <td>{{ row.amt_needed }}</td>
        <td>{{ row.amt_raised }}</td>
        </tr> 
    {% endif %}

{% endfor %}
</table>
</body>
</html>